<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 

<!-- ~{경로 :: 전달할 선택자} -->
<body style=background-image:url("/img/petadd.jpg");>
<header  class="wrap">
<th:block th:replace="~{./include/basicLayout :: setContent(~{ :: .wrap  } ) }"> 
</header>
    <div>
        <div class="warp_inner">
            <!-- left_menu end -->
            <div class="right_content">
                <div class="midiaq">
                    <div class="mainWrapper">
					</div>
                    <form name="#####" action="#####" method="post">
                        <div class="full_collum collum">
                            <ul>
                                <li class="collum_tit">
                                    <h2>반려동물 수정</h2>

                                    <span class="showtoggle minus"></span>
                                    <ul>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" class="board_basic_view"
                                                width="100%;">
                                                <tr>
                                                    <th>등록일</th>
                                                    <td>
                                                        <span>2016-01-01</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>이름</th>
                                                    <td><input type="text" class="inputw99p" name="####"style="background-color: transparent;"></td>
                                                </tr>

                                                <tr>
                                                    <th>몸무게</th>
                                                    <td colspan="5"><input type="text" class="inputw99p" name="####"></td>
                                                </tr>
                                                <tr>
                                                	<th>종</th>
                                                	<td><select style="color:black">
                                                		<option>강아지</option>
                                                		<option>고양이</option>
                                                		<option>파충류</option>
                                                		<option>대형동물</option>
                                                		<option>기타</option>
                                                		</select>
                                                		</td>
                							
                									</tr>
                									<tr>
                									<th>종(상세)</th>
                									<td><input type="text" class="inputw99p" name="####"style="background-color: transparent;"></td>
                									
                                                </tr>
                                                <tr class="none"style="display:none;">
													<td><input type="hidden" name="####" value=""></td>
												</tr>
												

                                            </table>
                                            <div class="btn_area">
                                                <!-- 
                                                <input type="submit" class="save" value="등록">
                                            	<input type="button" class="delete" value="목록">
                                                 -->

                                                <!-- 수정, 삭제는 JS를통해 제어합니다 -->
                                                <a href="#" class="revise mglr13-1" >등록</a>
                                                <a href="#" class="revise mglr13-2" >목록</a>
                                                
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <!-- right_content end -->
        </div>
        <div class="dim_layer">
        </div>
    </div>
    <!-- wrap end -->
</th:block>
</body>